# MySQL 配置
DB_HOST=127.0.0.1
DB_PORT=7334
DB_USER=root
DB_PASSWORD=123456
DB_NAME=simplerag

# Qdrant 配置
QDRANT_HOST=127.0.0.1
QDRANT_PORT=7333
QDRANT_API_KEY=your_api_key_here
# 如果是容器启动，那需要启动下面的环境变量，值和 QDRANT_API_KEY 一致
# QDRANT__SERVICE__API_KEY=your_service_api_key_here
QDRANT_COLLECTION_NAME=simplerag

# 模型配置
OPENAI_BASE_URL=https://api.qnaigc.com/v1
OPENAI_MODEL=deepseek/deepseek-v4-flash
OPENAI_API_KEY=sk-xxxx

# Embedding 模型配置
EMBEDDING_API_BASE_URL=https://api.siliconflow.cn/v1
EMBEDDING_API_KEY=sk-xxxx
EMBEDDING_MODEL=Qwen/Qwen3-Embedding-8B
EMBEDDING_VECTOR_SIZE=4096  # 这个值一定要根据嵌入模型的实际嵌入维度编写
