# MySQL 配置
DB_HOST=127.0.0.1
DB_PORT=7334
DB_USER=root
DB_PASSWORD=123456
DB_NAME=simplerag

# Qdrant 配置
QDRANT_HOST=127.0.0.1
QDRANT_PORT=7333
QDRANT_API_KEY=your_api_key_here
QDRANT_COLLECTION_NAME=simplerag
